.login {
    height: 1000px;
    width: 100%;
    background: #531d0b;
    position: relative;
}

.login_box {
    width: 1050px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 0px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
}

.login_box .left {
    width: 41%;
    height: 100%;
    padding: 25px 25px;

}

.login_box .right {
    width: 59%;
    height: 100%
}

.left .top_link a {
    color: #452A5A;
    font-weight: 400;
}

.left .top_link {
    height: 20px
}

.left .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 73%;
    margin: auto;
}

.left h3 {
    text-align: center;
    margin-bottom: 40px;
}

.left input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}

.left {
    background: linear-gradient(-45deg, #dcd7e0, #fff);
}

.submit {
    border: none;
    padding: 15px 70px;
    border-radius: 0px;
    display: block;
    margin: auto;
    margin-top: 120px;
    background: #531d0b;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
    box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
}

.right {
    color: #fff;
    position: relative;
}

.center {
    position: relative;
    top: 200px;
    left: 190px
}

/* Existing styles remain unchanged */

.additional-options {
    margin-top: 20px;
    text-align: center;
}

.additional-options a {
    color: #fff;
    /* Match the text color to the login button */
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    display: block;
    margin-top: 10px;
    padding: 15px 70px;
    /* Match the padding to the login button */
    border-radius: 0px;
    /* Match the border-radius to the login button */
    background: #531d0b;
    box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
    /* Add a smooth transition for the background */
}

.additional-options a:hover {
    background: #452A5A;
    /* Change the background color on hover */
}

.create-account {
    display: block;
    margin-top: 10px;
    padding: 15px 70px;
    border-radius: 0px;
    background: #531d0b;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
}

.create-account:hover {
    background: #452A5A;
}

.flash-messages {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    /* Adjust the width as needed */
    text-align: center;
}

.alert {
    margin-bottom: 10px;
}